{% block content %}

    <div id="projectDetail" class="modalDialog">
        <div>
            <a href="#close" title="Close" class="close">X</a>
            <h2>{{project.name}}</h2>
            <div id="projectDetails">
                <div>
                    <h8>Descripcion: {{project.descripcion}}</h8>
                </div>
                <div>
                    <h8>Estado: {{project.estado}}</h8>
                </div>
                <div>
                    <h8>Jefe del Proyecto: {{project.jefe}}</h8>									
                </div>
                <div>
                    <button type="submit" class="btn btn-primary  btn-sm btn-block">Ver</button>
                </div>
            </div>				    	
        </div>
    </div>

{% endblock %}