<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Total de Proyectos</h5>
			  	</div>
			  	<div>
			  		<h1>{{ total_proyects }}</h1>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Total de Requisitos</h5>
			  	</div>
			  	<div>
			  		<h1>{{ total_requirements }}</h1>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Total de Smells</h5>
			  	</div>
			  	<div>
			    	<h1>{{ total_smells }}</h1>
			  	</div>
			</div>
		</div>
	</div>
</div>